*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #272727;
}

li{
    list-style-type:none;
}

.nav-header{
    background-color: rgb(49, 49, 49);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .row{
    border: 1px solid black;
} */

/* login modal */
.form-group{
    padding: 0px;
}

.login-section{
    display: flex;
}

.login-section p{
    margin-top: 22px;
    margin-left: 5px;
}

.col-1{
    margin: auto 55px auto 55px;
    display: inline
}

 ul.nav-header li.right {
    float: right;
}

.logo img{
    width: 200px;
}

.nav ul{
    line-height: 100px;
}

.mainmenu li{
    margin-top:  70px ;
}

.mainmenu li a{
    font-weight: bold;
}

.mainmenu a{
    background-color: rgb(255, 255, 255);
    border-radius: 500px;
}

#menu-item {
    font-size: 30px;
    color: black;
    margin: 0px 20px;
    padding: 0px 70px;
}

.menu{
    margin-bottom: 150px;
}

img.carousel-item{
    position: absolute;
    width: 100px;
    height: 100px;

}

/* Now showing */

#home-title{
    justify-content: center;
    display: flex;
    margin: 80px 0 50px;
}

.title{
    font-weight: 600;
    text-align: center;
    height: 40px;
}


.card{
    background-color: inherit;
    border: 0px;
    margin-bottom: 20px;
}

img.card-img-top{
    border-radius: 50px
    
}
.description{
    color: white;
    justify-content: center;
    display: block;
    text-align: center;
    font-weight: 500;
}

.description .title, .description .title{
    margin-top: 0.625rem;
    margin-bottom: 0.563rem;
}

img.strict {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}


.sub-strict{
    display: flex;
    justify-content: center;
}

button.buy-ticket{
    border-radius: 20px;
    background-color: rgb(160, 208, 235);
    font-weight: 600;
}

button.view-trailer{
    border-radius: 20px;
    background-color: rgb(252, 115, 115);
    font-weight: 600;
}

.footer{
    margin: 100px 0 5px;
    color: white;
}


/* Movies page */
.breadcrumb{
    background-color: #b3adad;
    border-radius: 50px;
}

nav .breadcrumb{
    width: 500px;
    margin-left: 399px;
    height: 35px;   
    align-items: center;
}

.breadcrumb-item a{
    margin-left: 20px;
    color: black;
    font-weight: 500;
}

.product-info{
    justify-content: center;
    margin: 20px 0 20px;
    background-color: #4d4b4b;
    padding: 20px 0 20px;
    border-radius: 20px;
}

.movie-poster{
    width: 225px;
    align-content: center;
    justify-content: center;
}

.movie-poster img{
    width: 100%;
}

.movie-poster button{
    margin: 10px 0 0 39px;

}

.movie-detail{
    color: white;
}

.movie-info{
    display: flex;
    align-items: center;
}

.movie-info p{
    margin-top: 11px;
    margin-left: 20px;
}

.trailer{
    width: 560px;
    margin-top: 50px;
}



iframe{
    width: 100%;
}


/* Sign up */

.sign-modal .nav-tabs .nav-item{
    width: 50%;
    margin-bottom: 2rem;
}

/* End Sign up */